
.container-scrollable{
  overflow-x: auto;
  padding-bottom: 10px;
  height: calc(100vh - 290px);
}

.vinyl-cart {
  cursor: pointer;
  padding: 5px 5px;
  background-color: #111111;
  position: relative;
}
.vinyl-cart:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #212121;
}
.vinyl-cart:hover .button-card{
  display: block !important;
}
.text-cart-title{
  font-size: 12px;
}
.text-cart-body{
  font-size:10px
}
.button-card{
  display: none !important;
  position: absolute;
  bottom: 40%;
  right: 10%;
}