
.container-scrollable{
  overflow-x: auto;
  padding-bottom: 10px;
  height: calc(100vh - 290px);
}

.vinyl-cart {
  cursor: pointer;
  padding: 5px 5px;
  background-color: #111111;
}
.vinyl-cart:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #212121;
}
