@import "../../variables.modules";
.main-container {
  background-color: rgb(33,33,33);
  max-width: 70%;
}

.container-max-width {
  max-width: 60%;
  margin: 0 auto;
}

.navbar-color {
  background-color: #212121;
}